{{ if eq .Env.PHP_ENABLED "true" }}

# Common front handler for Magento / Wordpress etc
location @handler {
  rewrite / /index.php?$args;
}

location / {
  index index.html index.php;
  # First attempt to serve request as file, then
  # as directory, then fall back to handler
  try_files $uri $uri/ @handler;
}

# pass the PHP scripts to FastCGI
location ~ \.php$ {
  include fastcgi.conf;

  # Remove PHP version from response
  more_clear_headers x-powered-by;

  try_files $uri =404;

  fastcgi_pass fastcgi_backend;

  # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
  fastcgi_split_path_info ^(.+\.php)(/.+)$;
  fastcgi_index index.php;
  fastcgi_intercept_errors on;
}

location php.ini {
  deny all;
}

# Deny access to any files with a .php extension in the uploads directory
# Works in sub-directory installs and also in multisite network
location ~* /(?:uploads|files)/.*\.php$ {
  deny all;
}

location ~ .php/ { ## Forward paths like /js/index.php/x.js to relevant handler
  rewrite ^(.*.php)/ $1 last;
}

{{ end }}
