---
version: 2.1

docker_auth: &docker_auth
  username: $DOCKERHUB_USERNAME
  password: $DOCKERHUB_PASSWORD

defaults: &defaults
  environment:
    GOOGLE_PROJECT_ID: planet-4-151612
    TEST_OUTPUT_DIR: /tmp/planet4-docker
    BUILD_FLAGS: -r
  docker:
    - image: greenpeaceinternational/circleci-base:latest
      auth:
        <<: *docker_auth
  working_directory: /home/circleci/app

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: make lint
      - run: activate-gcloud-account.sh
      - run: mkdir -p /tmp/workspace/var
      - run: make build
      - run: rsync -av . /tmp/workspace/src
      - run: echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Build" notify-job-failure.sh
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var
            - src

  test-ubuntu:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run: activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/ubuntu \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Ubuntu tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  test-php-fpm:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate with gcloud
          command: |
            activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/php-fpm \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="PHP tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  test-openresty:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate with gcloud
          command: |
            activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/openresty \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Openresty tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  test-wordpress:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate with gcloud
          command: |
            activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/wordpress \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Wordpress tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  test-handbook:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate with gcloud
          command: |
            activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/handbook \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Handbook tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  test-exim:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Authenticate with gcloud
          command: |
            activate-gcloud-account.sh
      - run:
          name: Run bats unit tests
          command: |
            cd /tmp/workspace/src
            BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)" \
            TEST_FOLDERS=tests/src/planet-4-151612/exim \
            ./tests/test.sh
      - run:
          name: Notify failure
          when: on_fail
          command: TYPE="Exim tests" notify-job-failure.sh
      - store_test_results:
          path: /tmp/planet4-docker/merged
      - store_artifacts:
          path: /tmp/artifacts

  scan-openresty:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Microscanner
          command: |
            if docker run --rm -ti "gcr.io/${GOOGLE_PROJECT_ID}/openresty:build-$(cat /tmp/workspace/var/circle-build-num)" /microscanner ${MICROSCANNER_TOKEN}
            then
              echo "@todo: list vulnerabilities"
            else
              TYPE="Vulnerability Scan" notify-job-failure.sh
              exit 1
            fi

  scan-php-fpm:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Microscanner
          command: |
            if docker run --rm -ti "gcr.io/${GOOGLE_PROJECT_ID}/php-fpm:build-$(cat /tmp/workspace/var/circle-build-num)" /microscanner ${MICROSCANNER_TOKEN}
            then
              echo "@todo: list vulnerabilities"
            else
              TYPE="Vulnerability Scan" notify-job-failure.sh
              exit 1
            fi

  scan-wordpress:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Microscanner
          command: |
            if docker run --rm -ti "gcr.io/${GOOGLE_PROJECT_ID}/wordpress:build-$(cat /tmp/workspace/var/circle-build-num)" /microscanner ${MICROSCANNER_TOKEN}
            then
              echo "@todo: list vulnerabilities"
            else
              TYPE="Vulnerability Scan" notify-job-failure.sh
              exit 1
            fi

  scan-handbook:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Microscanner
          command: |
            if docker run --rm -ti "gcr.io/${GOOGLE_PROJECT_ID}/handbook:build-$(cat /tmp/workspace/var/circle-build-num)" /microscanner ${MICROSCANNER_TOKEN}
            then
              echo "@todo: list vulnerabilities"
            else
              TYPE="Vulnerability Scan" notify-job-failure.sh
              exit 1
            fi

  scan-exim:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Microscanner
          command: |
            if docker run --rm -ti "gcr.io/${GOOGLE_PROJECT_ID}/exim:build-$(cat /tmp/workspace/var/circle-build-num)" /microscanner ${MICROSCANNER_TOKEN}
            then
              echo "@todo: list vulnerabilities"
            else
              TYPE="Vulnerability Scan" notify-job-failure.sh
              exit 1
            fi

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: activate-gcloud-account.sh
      - setup_remote_docker:
          docker_layer_caching: true
      - deploy:
          name: Deploy tagged release
          command: |
            if [[ -z "$CIRCLE_TAG" ]]
            then
              TYPE="Tests" notify-job-success.sh
              exit 0
            fi

            export CIRCLE_BUILD_NUM=$(cat /tmp/workspace/var/circle-build-num)
            cd /tmp/workspace/src
            if make deploy
            then
              TYPE="Deployment" notify-job-success.sh
            else
              TYPE="Deployment" notify-job-failure.sh
              exit 1
            fi

  notify-promote:
    <<: *defaults
    steps:
      - run:
          name: Notify of held workflow
          command: TYPE="@rawalker Promotion" ${HOME}/scripts/notify-job-hold.sh

  promote:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - checkout

      - deploy:
          name: Start release
          command: |
            current_version=$(git-current-tag.sh)
            new_version=$(increment-version.sh $current_version)

            echo "Old: $current_version"
            echo "New: $new_version"

            release-start.sh $new_version
            release-finish.sh $new_version

      - deploy:
          name: Commit updated build numbers
          command: |
            update-build-numbers.sh

workflow-references:
  branch_jobs: &branch_jobs
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              ignore: master
      - test-openresty:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - test-php-fpm:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - test-wordpress:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - test-handbook:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - test-exim:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - scan-openresty:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - scan-php-fpm:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - scan-wordpress:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - scan-handbook:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - scan-exim:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: master
      - promote:
          context: org-global
          requires:
            - test-openresty
            - test-php-fpm
            - test-wordpress
            - test-handbook
            - test-exim
            - scan-openresty
            - scan-php-fpm
            - scan-wordpress
            - scan-handbook
            - scan-exim
          filters:
            branches:
              only: develop

  tag_jobs: &tag_jobs
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - test-openresty:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - test-php-fpm:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - test-wordpress:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - test-exim:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - test-handbook:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - scan-openresty:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - scan-php-fpm:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - scan-wordpress:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - scan-exim:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - scan-handbook:
          context: org-global
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - deploy:
          context: org-global
          requires:
            - test-openresty
            - test-php-fpm
            - test-wordpress
            - test-exim
            - test-handbook
            - scan-openresty
            - scan-php-fpm
            - scan-wordpress
            - scan-exim
            - scan-handbook
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

workflows:
  version: 2
  nightly-branch:
    <<: *branch_jobs
    triggers:
      - schedule:
          # Weekly 2100UTC Sunday night = 0700 AEST Monday
          cron: "0 21 * * 0"
          filters:
            branches:
              only:
                - develop

  build-branch:
    <<: *branch_jobs

  build-tag:
    <<: *tag_jobs
