location ~ ^/{{ .Env.APP_HOSTPATH }}/? {
  rewrite_by_lua_block {
    local uri = ngx.re.sub(ngx.var.uri, "^/{{ .Env.APP_HOSTPATH }}/?", "/", "o")
    ngx.req.set_uri(uri, true)
  }
}

# workaround because I can't figure out how to get the redirects to work properly
location ~ ^/wp-admin$ {
  return 301 /{{ .Env.APP_HOSTPATH }}/wp-admin/;
}
