{{ if eq .Env.PAGESPEED_ENABLED "true" }}

pagespeed on;

pagespeed RewriteLevel "{{ .Env.PAGESPEED_REWRITE_LEVEL }}";
pagespeed DisableFilters "{{ .Env.PAGESPEED_DISABLE_FILTERS }}";

pagespeed RespectXForwardedProto on;

# Needs to exist and be writable by nginx.  Use tmpfs for best performance.
pagespeed FileCachePath /tmp/ngx_pagespeed_cache;

pagespeed XHeaderValue "";
more_clear_headers X-Page-Speed;

# Ensure requests for pagespeed optimized resources go to the pagespeed handler
# and no extraneous headers get set.
location ~ "\.pagespeed\.([a-z]\.)?[a-z]{2}\.[^.]{10}\.[^.]+" {
    add_header "" "";
}

location ~ "^/pagespeed_static/" { }
location ~ "^/ngx_pagespeed_beacon$" { }

{{ if .Env.PHP_ENABLED }}
pagespeed Disallow "*/wp-admin/*";
{{ end }}

# Pagespeed *sometimes* breaks SVG files
pagespeed Disallow "*.svg*";

pagespeed MapOriginDomain "http://{{ .Env.APP_HOSTNAME }}" "https://{{ .Env.APP_HOSTNAME }}";
pagespeed LoadFromFile "https://{{ .Env.APP_HOSTNAME }}" "/app/www/";

pagespeed DownstreamCacheRebeaconingKey "{{ .Env.PAGESPEED_REBEACON_KEY }}";

{{ else }}

pagespeed off;

{{ end }}
