{{ if eq .Env.GEOIP_ENABLED "true" }}
location / {
  more_set_headers 'X-Country-Code $http_cf_ipcountry';
  sub_filter_types text/html;
  sub_filter '__P4_GEOIP_COUNTRY_CODE__' $http_cf_ipcountry;
}
{{ end }}
