<?php
// ** MySQL settings ** //

define('DB_NAME',     '{{ .Env.WP_DB_NAME }}');
define('DB_USER',     '{{ .Env.WP_DB_USER }}');
define('DB_PASSWORD', '{{ .Env.WP_DB_PASS }}');
define('DB_HOST',     '{{ .Env.WP_DB_HOST}}:{{ .Env.WP_DB_PORT }}');

define('DB_CHARSET',  '{{ .Env.WP_DB_CHARSET }}');
define('DB_COLLATE',  '{{ .Env.WP_DB_COLLATION }}');

/* Respect upstream SSL termination headers */
if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && strpos($_SERVER['HTTP_X_FORWARDED_PROTO'], 'https') !== false) {
    $_SERVER['HTTPS']='on';
    $protocol='https';
} else {
    $protocol='http';
}

if (!isset($_SERVER['HTTP_HOST'])) {
  # Circumvent HTTP_HOST array key not set messages when using wp-cli
  $_SERVER['HTTP_HOST']='{{ .Env.APP_HOSTNAME }}';
}

define('WP_SITEURL',  $protocol . '://{{ .Env.APP_HOSTNAME }}{{ .Env.APP_HOSTPATH }}');
define('WP_HOME',     $protocol . '://{{ .Env.APP_HOSTNAME }}{{ .Env.APP_HOSTPATH }}');

define('WP_AUTO_UPDATE_CORE', '{{ .Env.WP_AUTO_UPDATE_CORE }}' );

{{ if .Env.WP_SENTRY_DSN }}
define( 'WP_SENTRY_DSN', '{{ .Env.WP_SENTRY_DSN }}' );
define( 'WP_SENTRY_ERROR_TYPES', {{ .Env.WP_SENTRY_ERROR_TYPES }} );
{{ end }}

{{ if eq .Env.WP_AUTOMATIC_UPDATER_DISABLED "true" }}
/* Disable all automated updates */
define('AUTOMATIC_UPDATER_DISABLED', true );
{{ end }}

define('DISALLOW_FILE_MODS', {{ .Env.WP_DISALLOW_FILE_MODS }} );

{{ if eq .Env.WP_FORCE_SSL_ADMIN "true" }}
/* Force SSL in the administration section */
define('FORCE_SSL_ADMIN', true);
{{ end }}


/**
 * Authentication Unique Keys and Salts.
 */
define('AUTH_KEY',         '{{ .Env.WP_AUTH_KEY }}');
define('SECURE_AUTH_KEY',  '{{ .Env.WP_SECURE_AUTH_KEY }}');
define('LOGGED_IN_KEY',    '{{ .Env.WP_LOGGED_IN_KEY }}');
define('NONCE_KEY',        '{{ .Env.WP_NONCE_KEY }}');
define('AUTH_SALT',        '{{ .Env.WP_AUTH_SALT }}');
define('SECURE_AUTH_SALT', '{{ .Env.WP_SECURE_AUTH_SALT }}');
define('LOGGED_IN_SALT',   '{{ .Env.WP_LOGGED_IN_SALT }}');
define('NONCE_SALT',       '{{ .Env.WP_NONCE_SALT }}');

{{ if eq .Env.APP_ENV "local" "develop" }}
define( 'WP_DEBUG', true );
define( 'WP_DEBUG_LOG', true );
define( 'SCRIPT_DEBUG', true );
{{ end }}

{{ if .Env.APP_ENV }}
define( 'WP_APP_ENV', '{{ .Env.APP_ENV }}' );
define( 'WP_SENTRY_ENV', '{{ .Env.APP_ENV }}' );
{{ end }}

{{ if eq .Env.WP_STATELESS_MEDIA_ENABLED "true" }}
define( 'WP_STATELESS_MEDIA_BUCKET',            '{{ .Env.WP_STATELESS_MEDIA_BUCKET }}' );
define( 'WP_STATELESS_MEDIA_MODE',              '{{ .Env.WP_STATELESS_MEDIA_MODE }}' );
define( 'WP_STATELESS_MEDIA_ROOT_DIR',          '{{ .Env.WP_STATELESS_MEDIA_ROOT_DIR }}' );

{{ if .Env.WP_STATELESS_MEDIA_KEY_FILE_PATH }}
define( 'WP_STATELESS_MEDIA_KEY_FILE_PATH',     '{{ .Env.WP_STATELESS_MEDIA_KEY_FILE_PATH }}' );
{{ end }}
{{ if .Env.WP_STATELESS_MEDIA_JSON_KEY }}
define( 'WP_STATELESS_MEDIA_JSON_KEY',          '{{ .Env.WP_STATELESS_MEDIA_JSON_KEY }}' );
{{ end }}

{{ if .Env.WP_STATELESS_MEDIA_SERVICE_ACCOUNT }}
define( 'WP_STATELESS_MEDIA_SERVICE_ACCOUNT',   '{{ .Env.WP_STATELESS_MEDIA_SERVICE_ACCOUNT }}' );
{{ end }}

{{ if eq .Env.WPML_ST_SYNC_TRANSLATION_FILES "true" }}
define( 'WPML_ST_SYNC_TRANSLATION_FILES', true );
{{ end }}

{{ end }}

{{ if eq .Env.WP_REDIS_ENABLED "true" }}
$redis_server = array(
  'host'=>'{{ .Env.WP_REDIS_HOST }}',
  'port'=> {{ .Env.WP_REDIS_PORT }},
  'database' => {{ .Env.WP_REDIS_DB }}
);
{{ if .Env.WP_REDIS_DEFAULT_EXPIRE_SECONDS }}
define( 'WP_REDIS_DEFAULT_EXPIRE_SECONDS',   '{{ .Env.WP_REDIS_DEFAULT_EXPIRE_SECONDS }}' );
{{ end }}
{{ end }}

define('SMARTSHEET_API_KEY', '{{ .Env.SMARTSHEET_API_KEY }}');

{{ if .Env.GOOGLE_SHEETS_KEY }}
define( 'GOOGLE_SHEETS_KEY',   '{{ .Env.GOOGLE_SHEETS_KEY }}' );
{{ end }}

{{ if .Env.GF_LICENSE }}
define( 'GF_LICENSE',   '{{ .Env.GF_LICENSE }}' );
{{ end }}

/**
 * Cloudflare key
 */
define('CLOUDFLARE_API_KEY', '{{ .Env.CLOUDFLARE_API_KEY }}');

/**
 * Elastic APM settings
 */
define('ELASTIC_APM_SECRET_TOKEN', '{{ .Env.ELASTIC_APM_SECRET_TOKEN }}');

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = '{{ .Env.WP_DB_PREFIX }}';

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) )
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
