server {
    listen 80;
    listen [::]:80 default ipv6only=on;

    server_name {{ .Env.APP_HOSTNAME }} -;

    root {{ .Env.PUBLIC_PATH }};

    {{ if eq .Env.PHP_ENABLED "true" }}
    index index.php;
    {{ else }}
    index index.html;
    {{ end }}

    include server.d/*.conf;

}
